<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106218873843-gmkpp4qv1t1a1nc0ne69vln7teem7nl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106218873843-gmkpp4qv1t1a1nc0ne69vln7teem7nl6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>106218873843-3sgr97r8p06962nsagv18v80h2i2g4fh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkjCfV8dFAqErKE3U3INZc3Zq5pLXKVZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>106218873843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talentApp</string>
	<key>PROJECT_ID</key>
	<string>talent-app-f191f</string>
	<key>STORAGE_BUCKET</key>
	<string>talent-app-f191f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106218873843:ios:5629ce1c348f41ffe66886</string>
</dict>
</plist>